.frag-color-0 {
  background-color:hsla(300, 70%, 90%, 1);
}

.frag-color-1 {
  background-color:hsla(0, 70%, 90%, 1);
}

.frag-color-2 {
  background-color:hsla(80, 70%, 90%, 1);
}

.frag-color-3 {
  background-color:hsla(160, 70%, 90%, 1);
}

.frag-color-4 {
  background-color:hsla(240, 70%, 90%, 1);
}

.frag-color-5 {
  background-color:hsla(320, 70%, 90%, 1);
}

.frag-color-6 {
  background-color:hsla(40, 70%, 90%, 1);
}

.frag-color-7 {
  background-color:hsla(120, 70%, 90%, 1);
}

.frag-color-8 {
  background-color:hsla(200, 70%, 90%, 1);
}

.frag-color-9 {
  background-color:hsla(280, 70%, 90%, 1);
}

.frag-color-10 {
  background-color:hsla(20, 70%, 90%, 1);
}

.frag-color-11 {
  background-color:hsla(100, 70%, 90%, 1);
}

.frag-color-12 {
  background-color:hsla(180, 70%, 90%, 1);
}

.frag-color-13 {
  background-color:hsla(260, 70%, 90%, 1);
}

.frag-color-14 {
  background-color:hsla(340, 70%, 90%, 1);
}

.frag-color-15 {
  background-color:hsla(60, 70%, 90%, 1);
}

.frag-color-16 {
  background-color:hsla(140, 70%, 90%, 1);
}

.frag-color-17 {
  background-color:hsla(220, 70%, 90%, 1);
}